# ==================================================================================
# LaraClassified - Geo Classified Ads CMS
# Copyright (c) Mayeul Akpovi. All Rights Reserved
#
# Website: http://www.bedigit.com
#
# LICENSE
# -------
# This software is furnished under a license and may be used and copied
# only in accordance with the terms of such license and with the inclusion
# of the above copyright notice. If you Purchased from Codecanyon,
# Please read the full License from here - http://codecanyon.net/licenses/standard
# ==================================================================================

# GLOBAL
# ======
# Directories Index protection
Options -Indexes

# Default Apache rules
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

# Robots.txt
# ==========
RewriteRule  ^(robots\.txt)$ /robots [NC,L]

# Iframe call
# ===========
<IfModule mod_headers.c>
# Unset X-Frame-Options
Header unset X-Frame-Options
</IfModule>
